/* * body {
    background-color: black;
} */

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black 200px;
    margin-top: 0px;
    /* background-color: black; */
}
.score {
    color: blue;
    font-size: 38px;
    margin-top: 5vw;
    margin-left: 45vw;
}
.grid div {
    width: 20px;
    height: 20px;
}
.container {
    display: flex;
    justify-content: center;
}
.pac-dot {
    background-color: black;
    border: 8px solid white;
    box-sizing: border-box;
}

.wall {
    background: blue;
}

.power-pellet {
    background-color: green;
    border-radius: 10px;
}

.blinky {
    background-color: red;
    border: 0px;
}

.pinky {
    background-color: pink;
    border: 0px;
}
.inky {
    background-color: cyan;
    border: 0 px;
}
.clyde {
    background-color: orange;
    border: 0px;
}
.scared-ghost {
    background-color: aquamarine;
    border: 0px;
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}
/* .ghost-lair {
    background-color: white;
} */

